{"openapi":"3.0.0","info":{"title":"API для работы с CRM \"Мой Класс\"","version":"1.1.8","x-logo":{"url":"logo.png","altText":"Мой Класс","href":"https://moyklass.com"}},"servers":[{"url":"https://api.moyklass.com","description":"Основной сервер"}],"security":[{"companyApiKey":[]}],"x-tagGroups":[{"name":"API Компании","tags":["companyAuth","rateLimit","company","managers","users","payments","invoices","joins","tasks","groups","lessons","catalog","files","subscriptions","userSubscriptions","userComments","documents","cashboxes","bonusProgram","families","messages"]},{"name":"API ученика","tags":["userAuth","userCommon","userPayments","userLessons","userFiles"]}],"tags":[{"name":"rateLimit","x-displayName":"Ограничения","description":"На запросы к API действует ограничение не более 7 запросов в секунду.","x-traitTag":true},{"name":"companyAuth","x-displayName":"Авторизация"},{"name":"company","x-displayName":"Компания"},{"name":"users","x-displayName":"Ученики/лиды","description":"В системе \"клиент\" и \"лид\" - это один и тот же \"ученик\", просто находящийся в разных статусах.\n\nПодробнее: https://help.moyklass.com/ru/knowledge_base/article/79/category/4/\n"},{"name":"payments","x-displayName":"Платежи"},{"name":"invoices","x-displayName":"Счета"},{"name":"managers","x-displayName":"Сотрудники"},{"name":"joins","x-displayName":"Записи в группу","description":"\n\n\nПодробнее о работе с записями в группу в CRM: https://help.moyklass.com/ru/knowledge_base/article/286/category/5/\n\nПодробнее о разнице между учеником и записью в группу: https://help.moyklass.com/ru/knowledge_base/article/79/category/4/\n"},{"name":"subscriptions","x-displayName":"Виды абонементов"},{"name":"userSubscriptions","x-displayName":"Абонементы учеников"},{"name":"tasks","x-displayName":"Задачи"},{"name":"groups","x-displayName":"Группы"},{"name":"lessons","x-displayName":"Занятия"},{"name":"catalog","x-displayName":"Справочники"},{"name":"files","x-displayName":"Файлы"},{"name":"userComments","x-displayName":"Комментарии учеников"},{"name":"userAuth","x-displayName":"Авторизация"},{"name":"userLessons","x-displayName":"Занятия"},{"name":"userCommon","x-displayName":"Ученики"},{"name":"userPayments","x-displayName":"Платежи и списания"},{"name":"inProgress","x-displayName":"В разработке","description":"Методы, которые еще не реализованы и в данный момент находятся в разработке"},{"name":"userFiles","x-displayName":"Файлы"},{"name":"documents","x-displayName":"Документы"},{"name":"cashboxes","x-displayName":"Кассы"},{"name":"bonusProgram","x-displayName":"Программа лояльности"},{"name":"families","x-displayName":"Семьи"},{"name":"messages","x-displayName":"Сообщения"}],"paths":{"/v1/company/auth/getToken":{"post":{"tags":["companyAuth"],"summary":"Получение токена","description":"Авторизация. Получение токена для работы с API.\nКлючи API вы можете создавать и просматривать в разделе CRM [\"Мой Класс\" - \"Настройки - API\"](https://app.moyklass.com/settings/settings/api).\n\n[Подробнее](https://help.moyklass.com/ru/knowledge_base/article/83/category/24/).\n","security":[],"x-codeSamples":[{"lang":"PHP","source":"$api_key = 'Oul76YVXXQnH3YWWidkDaHyoUBGHCOyOO0oky7y6T1EJBAWnEi'; //Ваш ключ доступа\n$url_auth = 'https://api.moyklass.com/v1/company/auth/getToken';\n$post_auth = array(\n  'apiKey' => $api_key\n);\n$curl = curl_init();\ncurl_setopt($curl, CURLOPT_CUSTOMREQUEST,\"POST\");\ncurl_setopt($curl, CURLOPT_URL, $url_auth);\ncurl_setopt($curl, CURLOPT_POSTFIELDS, json_encode($post_auth));\ncurl_setopt($curl, CURLOPT_HTTPHEADER, array('Content-Type: application/json'));\ncurl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n$out = curl_exec($curl);\ncurl_close($curl);\n$response = json_decode($out, true);\n$access_token = $response['accessToken'];\nprint_r($access_token)\n"}],"requestBody":{"description":"Параметры авторизации","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyAuth"}}}},"responses":{"200":{"description":"Токен доступа","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessToken"}}}},"401":{"description":"Ошибка авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/auth/refreshToken":{"post":{"tags":["companyAuth"],"summary":"Обновление токена","description":"Генерирует новый токен, текущий токен при этом продолжает действовать.","responses":{"200":{"description":"Новый токен доступа","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessToken"}}}},"401":{"description":"Ошибка авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/auth/revokeToken":{"post":{"tags":["companyAuth"],"summary":"Удаление токена","description":"Удаляет существующий токен. Токен передается в заголовке **x-access-token**","responses":{"204":{"description":"Токен удален"},"401":{"description":"Ошибка авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/users":{"get":{"tags":["users"],"summary":"Список учеников","description":"Производит поиск учеников в соответствии с фильтром","parameters":[{"$ref":"#/components/parameters/userIds"},{"in":"query","name":"attributes","style":"deepObject","explode":true,"schema":{"type":"object","additionalProperties":true},"description":"Поиск по признакам. Пример использования ?attributes[признак]=значение. \n* `attributes[1]=1901-01-01`\n* `attributes[birthday]=1901-01-01`\n"},{"$ref":"#/components/parameters/createdAt"},{"$ref":"#/components/parameters/updatedAt"},{"$ref":"#/components/parameters/stateChangedAt"},{"$ref":"#/components/parameters/clientStateId"},{"$ref":"#/components/parameters/phone"},{"$ref":"#/components/parameters/email"},{"$ref":"#/components/parameters/name"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"},{"name":"sort","description":"Сортировка","in":"query","example":"createdAt","schema":{"default":"id","type":"string","enum":["id","name","createdAt","updatedAt"]}},{"$ref":"#/components/parameters/sortDirection"},{"$ref":"#/components/parameters/amoCRMContactId"},{"$ref":"#/components/parameters/bitrixContactId"},{"$ref":"#/components/parameters/vkAdsBannerId"},{"$ref":"#/components/parameters/includePayLink"},{"$ref":"#/components/parameters/includeAvatarLink"}],"x-codeSamples":[{"lang":"PHP","source":"$access_token = 'Ваш accessToken';\n$url = 'https://api.moyklass.com/v1/company/users?phone=79221&limit=4';\n$curl = curl_init();\ncurl_setopt($curl, CURLOPT_URL, $url);\ncurl_setopt($curl, CURLOPT_HTTPHEADER, array(\n        \"x-access-token:\" . $access_token,\n        \"Content-Type: application/json\"\n));\ncurl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n$out = curl_exec($curl);\ncurl_close($curl);\n$response = json_decode($out, true);\nprint_r($response);\n"}],"responses":{"200":{"description":"Список учеников","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Users"}}}},"400":{"description":"Ошибка в параметрах фильтра","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["users"],"summary":"Создание ученика","description":"Создает нового ученика","requestBody":{"description":"Информация об ученике","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"responses":{"200":{"description":"Данные созданного ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/users/{userId}":{"get":{"tags":["users"],"summary":"Информация об ученике","description":"Возвращает основную информацию об ученике","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}},{"$ref":"#/components/parameters/includeJoins"},{"$ref":"#/components/parameters/includePayLink"},{"$ref":"#/components/parameters/includeAvatarLink"}],"responses":{"200":{"description":"Данные ученика","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/User"},{"properties":{"avatarLink":{"description":"Ссылка на фото сотрудника","type":"string","nullable":true,"readOnly":true},"joins":{"description":"Заявки ученика (при includeJoins=true)","type":"array","items":{"$ref":"#/components/schemas/Join"}},"payLinkKey":{"description":"Ключ оплаты (при includePayLink=true)","type":"string","example":"0047245cc1bc74076d704e20000be5aaa798e432"}}}]}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Ученик не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["users"],"summary":"Изменение ученика","description":"Изменяет основную информацию об ученике","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"requestBody":{"description":"Обновленная информация об ученике","required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/User"},{"properties":{"createSourceId":{"readOnly":true}}}]}}}},"responses":{"200":{"description":"Обновленные данные ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Ученик не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["users"],"summary":"Удаление ученика","description":"Удаляет ученика из системы. Вместе с ним удаляет также все его записи, платежи, документы и т.д.","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"responses":{"204":{"description":"Ученик удален"},"404":{"description":"Ученик не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"patch":{"tags":["users"],"summary":"Изменение ученика","description":"Изменяет только переданные данные об ученике","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"requestBody":{"description":"Обновленная информация об ученике","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPatch"}}}},"responses":{"200":{"description":"Обновленные данные ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPatch"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Ученик не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/users/{userId}/tags":{"post":{"tags":["users"],"summary":"Изменение тегов у ученика","description":"Изменяет теги у ученика","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новые теги","required":true,"content":{"application/json":{"schema":{"properties":{"tags":{"description":"Id тегов","type":"array","items":{"type":"integer","format":"int64"},"example":[2,4]}},"required":["tags"]}}}},"responses":{"204":{"description":"Теги у ученика изменены"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/users/{userId}/SSOToken":{"post":{"tags":["users"],"summary":"Получение SSO-токена для ученика","description":"Создает JWT-токен для SSO-авторизации ученика в личном кабинете. Токен действителен 5 минут. Полученный токен нужно передать в GET /v1/user/auth/SSOLogin?token=... для авторизации и редиректа ученика.\n","parameters":[{"name":"userId","in":"path","description":"ID ученика","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"requestBody":{"description":"Параметры SSO","required":false,"content":{"application/json":{"schema":{"properties":{"redirectTo":{"description":"Относительный путь, на который будет перенаправлен ученик после авторизации. Не должен начинаться с http:// или https://.\n","type":"string","example":"calendar"}}}}}},"responses":{"200":{"description":"SSO-токен успешно создан","content":{"application/json":{"schema":{"properties":{"ssoToken":{"description":"JWT-токен для SSO-авторизации","type":"string"},"redirectUrl":{"description":"Ссылка для редиректа после получения токена","type":"string","example":"<домен лк>/api/v1/user/auth/SSOLogin?token=..."}}}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Ученик не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/payments":{"get":{"tags":["payments"],"summary":"Платежи","description":"Возвращает список платежей","parameters":[{"$ref":"#/components/parameters/createdAt"},{"name":"date","in":"query","description":"Дата платежа. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"name":"summa","in":"query","description":"Сумма платежа. Списания и возвраты указываются с минусом.","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"number"}}},{"name":"invoiceId","in":"query","description":"Id счета","schema":{"type":"integer","format":"int64"}},{"name":"optype","in":"query","description":"Тип операции. income - входящий платеж, debit - списание, refund - возврат","style":"form","explode":false,"schema":{"type":"array","maxLength":3,"items":{"type":"string","enum":["income","debit","refund"]}}},{"name":"paymentTypeId","in":"query","description":"Тип платежа","schema":{"type":"integer"}},{"$ref":"#/components/parameters/includeUserSubscriptions"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/filialId"},{"name":"appendInvoices","in":"query","description":"Возвратить вместе с платежами данные счетов","schema":{"type":"boolean","default":false}},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список платежей","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentsExtended"}}}}}},"post":{"tags":["payments"],"summary":"Создание платежа","description":"Добавляет платеж клиенту. В этом методе можно добавить входящий платеж (income) и возврат (refund)","requestBody":{"description":"Информация о платеже","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentExtended"}}}},"responses":{"200":{"description":"Данные созданного платежа","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentExtended"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"500":{"description":"Ошибка на стороне сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/payments/{paymentId}":{"get":{"tags":["payments"],"summary":"Информация о платеже","description":"Возвращает информацию о платеже","parameters":[{"name":"paymentId","in":"path","description":"ID платежа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные платежа","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentExtended"}}}},"404":{"description":"Платеж не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["payments"],"summary":"Изменение платежа","description":"Изменяет платеж. Применяется только к приходам (optype=income), для других типов платежей будет возвращен код 403","parameters":[{"name":"paymentId","in":"path","description":"ID платежа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Обновленная информация по платежу","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentExtendedEdit"}}}},"responses":{"200":{"description":"Обновленные данные платежа","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPaymentExtended"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Платеж не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["payments"],"summary":"Удаление платежа","description":"Удаляет платеж из системы.","parameters":[{"name":"paymentId","in":"path","description":"Id платежа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Платеж удален"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Платеж не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/invoices":{"get":{"tags":["invoices"],"summary":"Счета","description":"Возвращает список счетов","parameters":[{"$ref":"#/components/parameters/createdAt"},{"name":"payUntil","in":"query","description":"Срок оплаты счета. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"name":"price","in":"query","description":"Сумма счета.","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"number"}}},{"name":"userSubscriptionId","description":"ID абонемента ученика","in":"query","example":123,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}},{"name":"joinId","description":"ID записи в группу счета с формой оплаты \"Единой суммой\"","in":"query","example":123,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}},{"$ref":"#/components/parameters/includeUserSubscriptions"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список счетов","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvoices"}}}}}}},"/v1/company/invoices/{invoiceId}":{"get":{"tags":["invoices"],"summary":"Информация о счете","description":"Возвращает информацию о счете","parameters":[{"name":"invoiceId","in":"path","description":"ID счета","required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"responses":{"200":{"description":"Данные счета","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvoice"}}}},"404":{"description":"Счет не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["invoices"],"summary":"Изменение счета","description":"Изменяет счет","parameters":[{"name":"invoiceId","in":"path","description":"ID счета","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Обновленная информация по счету","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvoiceEdit"}}}},"responses":{"200":{"description":"Обновленные данные счета","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvoice"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Счет не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["invoices"],"summary":"Удаление счета","description":"Удаляет счет из системы. Удаление возможно только если нет списаний по счету, иначе будет возвращен код 400","parameters":[{"name":"invoiceId","in":"path","description":"Id счета","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Счет удален"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Счет не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/managers":{"get":{"tags":["managers"],"summary":"Список сотрудников","description":"Возвращает список сотрудников","parameters":[{"$ref":"#/components/parameters/includeAvatarLink"}],"responses":{"200":{"description":"Список сотрудников","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Manager"},{"properties":{"avatarLink":{"description":"Ссылка на фото сотрудника","type":"string","nullable":true,"readOnly":true}}}]}}}}}}},"post":{"tags":["managers"],"summary":"Создание сотрудника","description":"Создает нового сотрудника","requestBody":{"description":"Информация о сотруднике","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagerCreateRequest"}}}},"responses":{"200":{"description":"Созданный сотрудник","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Manager"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/managers/{managerId}":{"get":{"tags":["managers"],"summary":"Информация о сотруднике","description":"Возвращает информацию о сотруднике","parameters":[{"name":"managerId","in":"path","description":"ID сотрудника","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/includeAvatarLink"}],"responses":{"200":{"description":"Данные о сотруднике","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Manager"},{"properties":{"avatarLink":{"description":"Ссылка на фото сотрудника","type":"string","nullable":true,"readOnly":true}}}]}}}},"404":{"description":"Сотрудник не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["managers"],"summary":"Удаление сотрудника","description":"Удаляет сотрудника","parameters":[{"name":"managerId","in":"path","description":"ID сотрудника","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные для удаления сотрудника","required":true,"content":{"application/json":{"schema":{"properties":{"replaceToManagerId":{"description":"ID сотрудника, на которого будут назначены все невыполненные задачи, предстоящие занятия, если они есть, и клиенты удаляемого сотрудника.","type":"integer","format":"int64","example":2}},"required":["replaceToManagerId"]}}}},"responses":{"204":{"description":"Сотрудник удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Сотрудник не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["managers"],"summary":"Изменение сотрудника","description":"Изменяет сотрудника","parameters":[{"name":"managerId","in":"path","description":"ID сотрудника","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новые данные сотрудника","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagerEdit"}}}},"responses":{"200":{"description":"Обновленные данные сотрудника","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Manager"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Сотрудник не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/advSources":{"get":{"tags":["catalog"],"summary":"Информационные источники","description":"Возвращает список информационных источников","responses":{"200":{"description":"Список информационных источников","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdvSource"}}}}}}}},"/v1/company/createSources":{"get":{"tags":["catalog"],"summary":"Способы заведения записей","description":"Возвращает список возможных способов заведения клиентов и записей","responses":{"200":{"description":"Список способов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateSource"}}}}}}}},"/v1/company/statusReasons":{"get":{"tags":["catalog"],"summary":"Причины изменения статуса","description":"Возвращает причины изменения статуса записи","parameters":[{"$ref":"#/components/parameters/reasonType"}],"responses":{"200":{"description":"Список причин","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StatusReason"}}}}}}}},"/v1/company/filials":{"get":{"tags":["company"],"summary":"Филиалы компании","description":"Возвращает список филиалов","responses":{"200":{"description":"Список филиалов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Filial"}}}}}}}},"/v1/company/userAttributes":{"get":{"tags":["catalog"],"summary":"Признаки ученика","description":"Возвращает список всех доступных признаков ученика","responses":{"200":{"description":"Список признаков","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAttribute"}}}}}}}},"/v1/company/rooms":{"get":{"tags":["company"],"summary":"Аудитории","description":"Аудитории компании","parameters":[{"$ref":"#/components/parameters/filialId"}],"responses":{"200":{"description":"Список аудиторий","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}}},"/v1/company/rooms/{roomId}":{"get":{"tags":["company"],"summary":"Информация об аудитории","description":"Возвращает основную информацию об аудитории","parameters":[{"name":"roomId","in":"path","description":"ID аудитории","example":123456,"required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные аудитории","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Room"}]}}}},"404":{"description":"Аудитория не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/courses":{"get":{"tags":["groups"],"summary":"Программы","parameters":[{"$ref":"#/components/parameters/includeClasses"},{"$ref":"#/components/parameters/includeImages"},{"$ref":"#/components/parameters/courseId"}],"description":"Возвращает список программ обучения","responses":{"200":{"description":"Список программ","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Course"},{"properties":{"classes":{"description":"Группы (при includeClasses=true)","type":"array","items":{"$ref":"#/components/schemas/Class"}},"images":{"description":"Изображения (при includeImages=true)","type":"array","items":{"$ref":"#/components/schemas/Image"}}}}]}}}}}}}},"/v1/company/classes":{"get":{"tags":["groups"],"summary":"Группы","parameters":[{"$ref":"#/components/parameters/includeImages"},{"$ref":"#/components/parameters/includeAttributes"},{"$ref":"#/components/parameters/includeDescription"},{"$ref":"#/components/parameters/courseId"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/classId"},{"$ref":"#/components/parameters/includeStats"}],"description":"Возвращает список групп (наборов)","responses":{"200":{"description":"Список групп","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Class"},{"properties":{"images":{"description":"Изображения (при includeImages=true)","type":"array","items":{"$ref":"#/components/schemas/Image"}},"attributes":{"description":"Признаки группы (при includeAttributes=true)","type":"array","items":{"$ref":"#/components/schemas/ClassAttributeValue"}}}}]}}}}}}},"post":{"tags":["groups"],"summary":"Создание группы","description":"Создаёт группу, возвращает объект созданной группы","requestBody":{"description":"Объект группы","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClassCreateCourse"},{"$ref":"#/components/schemas/ClassCreateMaster"},{"$ref":"#/components/schemas/ClassCreateIndv"}]}}}},"responses":{"200":{"description":"Данные группы","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Class"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/classes/{classId}":{"get":{"tags":["groups"],"summary":"Информация о группе","description":"Возвращает основную информацию о группе","parameters":[{"name":"classId","in":"path","description":"ID группы","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}},{"$ref":"#/components/parameters/includeAttributes"},{"$ref":"#/components/parameters/includeStats"},{"$ref":"#/components/parameters/includeDescription"}],"responses":{"200":{"description":"Данные группы","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Class"},{"properties":{"attributes":{"description":"Признаки группы (при includeAttributes=true)","type":"array","items":{"$ref":"#/components/schemas/ClassAttributeValue"}}}}]}}}},"404":{"description":"Группа не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["groups"],"summary":"Удаляет группу","description":"Удаляет группу","parameters":[{"name":"classId","in":"path","description":"ID группы","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"responses":{"204":{"description":"Группа удалена"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Группа не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["groups"],"summary":"Изменение группы","description":"Изменяет группу","parameters":[{"name":"classId","in":"path","description":"ID группы","example":123456,"required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"requestBody":{"description":"Объект группы","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClassUpdateCourse"},{"$ref":"#/components/schemas/ClassUpdateMaster"},{"$ref":"#/components/schemas/ClassUpdateIndv"}]}}}},"responses":{"200":{"description":"Данные группы","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Class"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Группа не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/classes/{classId}/attribute/{attributeId}":{"post":{"tags":["groups"],"summary":"Изменение признака группы","description":"Изменяет информацию в признаках группы","parameters":[{"name":"classId","in":"path","description":"ID группы","example":123456,"required":true,"schema":{"type":"integer","format":"int64"}},{"name":"attributeId","in":"path","description":"ID признака или его alias","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Новое значение признака","content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Признак прочих типов","required":["value"],"properties":{"value":{"description":"Значение признака. При передаче null признак удаляется.","oneOf":[{"type":"integer","format":"int64","nullable":true},{"type":"boolean","nullable":true},{"type":"string","nullable":true}],"example":false}}},{"type":"object","title":"Признак типа select","required":["valueId"],"properties":{"valueId":{"description":"ID значения признака (если тип признака select). При передаче null признак удаляется.","type":"integer","format":"int64","nullable":true,"example":150}}}]}}}},"responses":{"200":{"description":"Обновленные данные группы","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Class"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Группа не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/classAttributes":{"get":{"tags":["groups"],"summary":"Признаки группы","description":"Возвращает список всех доступных признаков группы","responses":{"200":{"description":"Список признаков","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassAttribute"}}}}}}}},"/v1/company/busyTimes":{"get":{"tags":["lessons"],"summary":"Нерабочее время","description":"Возвращает список нерабочего времени","parameters":[{"name":"date","in":"query","description":"Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"$ref":"#/components/parameters/roomId"},{"$ref":"#/components/parameters/beginTime"},{"$ref":"#/components/parameters/endTime"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/teacherId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список нерабочего времени","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusyTimes"}}}}}}},"/v1/company/messages":{"get":{"tags":["messages"],"summary":"Сообщения","description":"Возвращает историю сообщений","parameters":[{"$ref":"#/components/parameters/userIdArray"},{"$ref":"#/components/parameters/managerIdArray"},{"$ref":"#/components/parameters/integrationId"},{"$ref":"#/components/parameters/period"},{"$ref":"#/components/parameters/page"},{"name":"limit","in":"query","description":"Максимальное количество возвращаемых строк. Используется для постраничного вывода.","schema":{"type":"integer","default":50,"maximum":100},"example":0}],"responses":{"200":{"description":"Список документов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Messages"}}}}}}}},"/v1/company/lessons/{lessonId}/task/{type}/files":{"post":{"tags":["lessons"],"summary":"Добавление файла задания на занятие","description":"Добавляет файл задания на занятие","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип задания (Домашнее / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"requestBody":{"description":"Файл","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFile"}}}},"responses":{"204":{"description":"Файл добавлен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Задание или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"413":{"description":"Файл слишком большой","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"get":{"tags":["lessons"],"summary":"Список файлов задания","description":"Возвращает массив файлов прикрепленных к заданию","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип задания (Домашнее / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"responses":{"200":{"description":"Список файлов прикрепленных к заданию","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LessonFile"}}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Задание или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/task/{type}":{"post":{"tags":["lessons"],"summary":"Создание/изменение задания на занятие","description":"Создает или, если уже создано, изменяет задание на занятие","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип задания (Домашнее / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"requestBody":{"description":"Данные задания","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonTaskEdit"}}}},"responses":{"204":{"description":"Задание обновлено/добавлено"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Задание или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["lessons"],"summary":"Удаление задания на занятие","description":"Удаляет задание из системы.","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип задания (Домашнее / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"responses":{"204":{"description":"Задание удалено"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Задание или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer":{"post":{"tags":["lessons"],"summary":"Создание ответа на задание","description":"Создает ответ на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные ответа","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswer"}}}},"responses":{"204":{"description":"Ответ добавлен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}":{"get":{"tags":["lessons"],"summary":"Получение ответа на задание","description":"Возвращает ответ на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Ответ на задание","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswer"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["lessons"],"summary":"Редактирование ответа на задание","description":"Редактирует ответ на задание","security":[{"userSession":[],"xCookieToken":[],"xCsrfToken":[]},{"userOAuth":[]}],"parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Редактируемые данные ответа","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswerEdit"}}}},"responses":{"204":{"description":"Ответ добавлен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["lessons"],"summary":"Удаление ответа на задание","description":"Удаляет ответ на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Ответ удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}/status":{"post":{"tags":["lessons"],"summary":"Смена статуса ответа на задание","description":"Меняет статус ответа на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные статуса","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswerStatus"}}}},"responses":{"204":{"description":"Ответ добавлен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}/comment":{"post":{"tags":["lessons"],"summary":"Создание комментария к ответу на задание","description":"Создает комментарий к ответу на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные ответа","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswerCommentCreate"}}}},"responses":{"204":{"description":"Комментарий добавлен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}/files":{"post":{"tags":["lessons"],"summary":"Прикрепление файла к ответу на задание","description":"Прикрепляет файл к ответу на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные файла","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAnswerFileCreate"}}}},"responses":{"204":{"description":"Файл прикреплен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}/files/{fileId}":{"delete":{"tags":["lessons"],"summary":"Удаление файла к ответу на задание","description":"Удаляет файла к ответу на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileId","in":"path","description":"ID файла","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Файл удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/answer/{answerId}/comment/{commentId}":{"delete":{"tags":["lessons"],"summary":"Удаление комментария к ответу на задание","description":"Удаляет комментарий к ответу на задание","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"answerId","in":"path","description":"ID ответа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commentId","in":"path","description":"ID комментария","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Комментарий удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие или ответ не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/mark/{type}/{userId}":{"post":{"tags":["lessons"],"summary":"Создание/изменение оценки за занятие","description":"Создает или, если уже создано, изменяет оценку на занятие","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип оценки (За дз / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"requestBody":{"description":"Данные оценки","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonMarkEdit"}}}},"responses":{"204":{"description":"Оценка обновлена/добавлена"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Оценка или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["lessons"],"summary":"Удаление оценки за занятие","description":"Удаляет оценку из системы.","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","description":"Тип оценки (За дз / за занятие)","required":true,"schema":{"type":"string","enum":["home","lesson"]}}],"responses":{"204":{"description":"Оценка удалена"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Оценка или занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons":{"get":{"tags":["lessons"],"summary":"Занятия","description":"Возвращает список занятий","parameters":[{"name":"date","in":"query","description":"Дата проведения занятий. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"$ref":"#/components/parameters/lessonId"},{"$ref":"#/components/parameters/roomId"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/classId"},{"$ref":"#/components/parameters/teacherId"},{"$ref":"#/components/parameters/lessonStatusId"},{"$ref":"#/components/parameters/lessonUserId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/includeRecords"},{"$ref":"#/components/parameters/includeWorkOffs"},{"$ref":"#/components/parameters/includeMarks"},{"$ref":"#/components/parameters/includeTasks"},{"$ref":"#/components/parameters/includeTaskAnswers"},{"$ref":"#/components/parameters/includeUserSubscriptions"},{"$ref":"#/components/parameters/includeParams"},{"name":"sort","description":"Сортировка","in":"query","example":"createdAt","schema":{"default":"id","type":"string","enum":["id","date","status","createdAt","maxStudents","roomId","classId","filialId","beginTime","endTime"]}},{"$ref":"#/components/parameters/sortDirection"}],"responses":{"200":{"description":"Список занятий","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lessons"}}}}}},"post":{"tags":["lessons"],"summary":"Создание занятия","description":"Создает занятие","parameters":[{"$ref":"#/components/parameters/includeParams"}],"requestBody":{"description":"Данные занятия","content":{"application/json":{"schema":{"properties":{"date":{"description":"Дата занятия","type":"string","format":"date","example":"2022-02-22T00:00:00.000Z"},"comment":{"description":"Комментарий к занятию","nullable":true,"type":"string"},"topic":{"description":"Тема занятия","nullable":true,"type":"string"},"description":{"description":"Описание занятия","nullable":true,"type":"string"},"beginTime":{"description":"Время начала","type":"string","pattern":"^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$","example":"08:30"},"endTime":{"description":"Время окончания","type":"string","pattern":"^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$","example":"09:15"},"filialId":{"description":"ID филиала компании","type":"integer","format":"int64","example":10},"roomId":{"description":"ID аудитории/зала","type":"integer","format":"int64","example":505},"maxStudents":{"description":"Максимально допустимое количество учеников на занятии.\n\n  * `0` – не ограничено\n","nullable":true,"type":"integer","format":"int64","example":30,"minimum":0,"default":0},"classId":{"description":"ID группы","type":"integer","format":"int64","example":171331},"params":{"description":"Дополнительные параметры","type":"object","properties":{"video":{"description":"Видео к занятию","nullable":true,"type":"object","properties":{"value":{"description":"Ссылка на видео","pattern":"^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_+.~#?&\\/=]*)$","type":"string"},"visible":{"description":"Показывать ли ученику","type":"boolean","default":true},"description":{"description":"Описание","nullable":true,"type":"string"}},"required":["value"]},"webinar":{"description":"Ссылка на вебинар","nullable":true,"type":"object","properties":{"value":{"description":"Ссылка на вебинар","pattern":"^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_+.~#?&\\/=]*)$","type":"string"},"visible":{"description":"Показывать ли ученику","type":"boolean","default":true},"description":{"description":"Описание","nullable":true,"type":"string"}},"required":["value"]},"lessonSettings":{"$ref":"#/components/schemas/LessonSettings"}}},"userId":{"type":"integer","format":"int64","description":"ID ученика. Только для индивидуальных занятий."},"lessonRecord":{"type":"object","description":"Данные записи. Только для индивидуальных занятий.","properties":{"free":{"description":"Бесплатная запись (посещение для ученика будет бесплатным)","type":"boolean","default":false,"example":true},"test":{"description":"Пробная запись на занятие","default":false,"type":"boolean"},"missedLessonRecordId":{"description":"Id записи на пропущенное занятие (для создания отработки). В случае использования, параметры free и test берутся у пропущенного занятия.","type":"number"}}},"teacherIds":{"description":"ID преподавателей. Обязательно для индивидуальных занятий.","type":"array","items":{"type":"integer","format":"int64"}}},"required":["date","beginTime","endTime","filialId","roomId","classId"]}}}},"responses":{"200":{"description":"Данные созданного занятия","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Группа не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}":{"get":{"tags":["lessons"],"summary":"Информация о занятии","description":"Возвращает информацию о занятии","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/includeRecords"},{"$ref":"#/components/parameters/includeWorkOffs"},{"$ref":"#/components/parameters/includeMarks"},{"$ref":"#/components/parameters/includeTasks"},{"$ref":"#/components/parameters/includeTaskAnswers"},{"$ref":"#/components/parameters/includeParams"}],"responses":{"200":{"description":"Данные занятия","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"}}}}}},"delete":{"tags":["lessons"],"summary":"Удаление занятия","description":"Удаляет занятие","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Занятие удалено"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["lessons"],"summary":"Изменение занятия","description":"Изменяет занятие","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/includeParams"}],"requestBody":{"description":"Данные занятия","content":{"application/json":{"schema":{"properties":{"date":{"description":"Дата занятия","type":"string","format":"date","example":"2022-02-22T00:00:00.000Z"},"comment":{"description":"Комментарий к занятию","nullable":true,"type":"string"},"topic":{"description":"Тема занятия","nullable":true,"type":"string"},"description":{"description":"Описание занятия","nullable":true,"type":"string"},"beginTime":{"description":"Время начала","type":"string","pattern":"^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$","example":"08:30"},"endTime":{"description":"Время окончания","type":"string","pattern":"^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$","example":"09:15"},"filialId":{"description":"ID филиала компании","type":"integer","format":"int64","example":10},"roomId":{"description":"ID аудитории/зала","type":"integer","format":"int64","example":505},"maxStudents":{"description":"Максимально допустимое количество учеников на занятии","nullable":true,"type":"integer","format":"int64","example":30},"status":{"description":"Статус занятия\n\n  * `0` – Не проведено\n\n  * `1` – Проведено\n","type":"integer","enum":[0,1],"default":0},"params":{"description":"Дополнительные параметры","type":"object","properties":{"video":{"description":"Видео к занятию","nullable":true,"type":"object","properties":{"value":{"description":"Ссылка на видео","pattern":"^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_+.~#?&\\/=]*)$","type":"string"},"visible":{"description":"Показывать ли ученику","type":"boolean","default":true},"description":{"description":"Описание","nullable":true,"type":"string"}}},"webinar":{"description":"Ссылка на вебинар","nullable":true,"type":"object","properties":{"value":{"description":"Ссылка на вебинар","pattern":"^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_+.~#?&\\/=]*)$","type":"string"},"visible":{"description":"Показывать ли ученику","type":"boolean","default":true},"description":{"description":"Описание","nullable":true,"type":"string"}}},"lessonSettings":{"$ref":"#/components/schemas/LessonSettings"}}},"lessonRecord":{"type":"object","description":"Данные записи. Только для индивидуальных занятий.","properties":{"free":{"description":"Бесплатная запись (посещение для ученика будет бесплатным)","type":"boolean","default":false,"example":true},"test":{"description":"Пробная запись на занятие","default":false,"type":"boolean"},"missedLessonRecordId":{"description":"Id записи на пропущенное занятие (для создания отработки). В случае использования, параметры free и test берутся у пропущенного занятия.","type":"number"}}},"teacherIds":{"description":"ID преподавателей","type":"array","items":{"type":"integer","format":"int64"}}}}}}},"responses":{"200":{"description":"Обновленные данные занятия","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие не найдено","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/company/lessons/{lessonId}/status":{"post":{"tags":["lessons"],"summary":"Изменение статуса занятия","description":"Изменяет статус занятия","parameters":[{"name":"lessonId","in":"path","description":"ID занятия","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новый статус","required":true,"content":{"application/json":{"schema":{"properties":{"status":{"description":"Статус занятия. 0 - не проведено, 1 - проведено","type":"integer","format":"int64","enum":[0,1]}},"required":["status"]}}}},"responses":{"204":{"description":"Статус изменен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Занятие не найдено","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessons/{lessonId}/workOff":{"post":{"tags":["lessons"],"summary":"Создание отработки","description":"Создает запись на отработку для пропущенного занятия","parameters":[{"name":"lessonId","in":"path","description":"ID занятия с пропуском","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Информация для создания отработки","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonWorkOffCreate"}}}},"responses":{"201":{"description":"Отработка создана","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecordExtended"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/subscriptions":{"get":{"tags":["subscriptions"],"summary":"Список абонементов","description":"Возвращает список абонементов","parameters":[{"$ref":"#/components/parameters/createdAt"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"},{"name":"useDiscount","description":"Применять скидку клиента","in":"query","example":true,"schema":{"type":"boolean"}},{"name":"externalId","description":"Пользовательский номер абонемента","in":"query","example":"'ЛТ-2305' или ['ЛТ-2305', 'ЛТ-2377']","schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"subscriptionGroupingId","description":"ID группировки абонементов.","in":"query","example":2,"schema":{"type":"integer","format":"int64"}},{"name":"includeFamilySubs","description":"Включает семейные абонементы в ответ","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Список абонементов","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscriptions"}}}}}},"post":{"tags":["subscriptions"],"summary":"Создание абонемента","description":"Создает новый абонемент","requestBody":{"description":"Информация об абонементе","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionInputCreate"}}}},"responses":{"200":{"description":"Созданный абонемент","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/subscriptions/{subscriptionId}":{"get":{"tags":["subscriptions"],"summary":"Информация об абонементе","description":"Возвращает информацию об абонементе","parameters":[{"name":"subscriptionId","in":"path","description":"ID абонемента","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные об абонементе","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["subscriptions"],"summary":"Удаление абонемента","description":"Удаляет абонемент","parameters":[{"name":"subscriptionId","in":"path","description":"ID абонемента","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Абонемент удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["subscriptions"],"summary":"Изменение абонемента","description":"Изменяет абонемент","parameters":[{"name":"subscriptionId","in":"path","description":"ID абонемента","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новые данные абонемента","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionInputUpdate"}}}},"responses":{"200":{"description":"Обновленные данные абонемента","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/userSubscriptions":{"get":{"tags":["userSubscriptions"],"summary":"Список абонементов ученика","description":"Возвращает список абонементов ученика","parameters":[{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/includeFamilySubs"},{"$ref":"#/components/parameters/managerId"},{"name":"externalId","description":"Пользовательский номер абонемента","in":"query","example":"'ЛТ-2305' или ['ЛТ-2305', 'ЛТ-2377']","schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"courseId","description":"ID программы группы абонемента","in":"query","schema":{"anyOf":[{"type":"integer","format":"int64"},{"type":"array","items":{"type":"integer","format":"int64"}}]},"example":"100 или [ 100, 101 ]"},{"name":"classId","description":"ID группы абонемента","in":"query","schema":{"anyOf":[{"type":"integer","format":"int64"},{"type":"array","items":{"type":"integer","format":"int64"}}]},"example":"123 или [ 123, 124 ]"},{"name":"mainClassId","description":"ID основной группы абонемента","in":"query","schema":{"anyOf":[{"type":"integer","format":"int64"},{"type":"array","items":{"type":"integer","format":"int64"}}]},"example":"123 или [ 123, 124 ]"},{"name":"sellDate","in":"query","description":"Дата продажи. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"name":"beginDate","in":"query","description":"Дата начала действия. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"name":"endDate","in":"query","description":"Дата окончания действия. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"$ref":"#/components/parameters/userSubscriptionStatus"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список абонементов ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscriptions"}}}}}},"post":{"tags":["userSubscriptions"],"summary":"Создание абонемента ученика","description":"Создает новый абонемент ученика. При создании плавающего абонемента стоит учитывать настройки праздников и рабочих дней, абонемент не будет создан, если общее количество посещений с этими настройками окажется нулевым","requestBody":{"description":"Информация об абонементе ученика","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"responses":{"200":{"description":"Созданный абонемент ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/userSubscriptions/{userSubscriptionId}":{"get":{"tags":["userSubscriptions"],"summary":"Информация об абонементе ученика","description":"Возвращает информацию об абонементе ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные об абонементе ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"404":{"description":"Абонемент ученика не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["userSubscriptions"],"summary":"Удаление абонемента ученика","description":"Удаляет абонемент ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Абонемент ученика удален"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"404":{"description":"Абонемент ученика не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["userSubscriptions"],"summary":"Изменение абонемента ученика","description":"Изменяет абонемент ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int32","minimum":0,"maximum":2147483647}}],"requestBody":{"description":"Новые данные абонемента ученика","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscriptionEdit"}}}},"responses":{"200":{"description":"Обновленные данные абонемента ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Абонемент ученика не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/userSubscriptions/{userSubscriptionId}/status":{"post":{"tags":["userSubscriptions"],"summary":"Изменение статуса абонемента ученика","description":"Изменяет статус абонемента ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Статус абонемента ученика","required":true,"content":{"application/json":{"schema":{"properties":{"statusId":{"description":"Статус абонемента:\n* `1` - Не активный\n* `2` - Активный\n","type":"integer","format":"int64","enum":[1,2]}},"required":["statusId"]}}}},"responses":{"200":{"description":"Обновленные данные абонемента ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/userSubscriptions/{userSubscriptionId}/freeze":{"post":{"tags":["userSubscriptions"],"summary":"Изменение заморозки абонемента ученика","description":"Изменяет заморозку абонемента ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Даты заморозки","required":true,"content":{"application/json":{"schema":{"properties":{"freezeFrom":{"description":"Дата начала заморозки","type":"string","format":"date","example":"2019-06-12T00:00:00.000Z"},"freezeTo":{"description":"Дата окончания заморозки","type":"string","format":"date","example":"2019-06-15T00:00:00.000Z"}},"required":["freezeFrom","freezeTo"]}}}},"responses":{"200":{"description":"Обновленные данные абонемента ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["userSubscriptions"],"summary":"Удаление заморозки абонемента ученика","description":"Удаляет заморозку абонемента ученика","parameters":[{"name":"userSubscriptionId","in":"path","description":"ID абонемента ученика","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Обновленные данные абонемента ученика","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscription"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Абонемент не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/lessonRecords":{"get":{"tags":["lessons"],"summary":"Записи на занятия","description":"Возвращает список записей на занятия","parameters":[{"name":"userId","in":"query","description":"ID ученика","explode":false,"schema":{"type":"array","maxLength":50,"items":{"type":"integer","format":"int64"}},"example":1},{"name":"lessonId","in":"query","description":"ID занятия","schema":{"type":"array","maxLength":50,"items":{"type":"integer","format":"int64"}},"example":1},{"name":"classId","in":"query","description":"ID группы","schema":{"type":"array","maxLength":50,"items":{"type":"integer","format":"int64"}},"example":1},{"name":"date","in":"query","description":"Дата проведения занятий. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону","style":"form","explode":false,"schema":{"type":"array","maxLength":2,"items":{"type":"string","format":"date"}},"example":"2019-01-01"},{"name":"free","in":"query","description":"Бесплатная запись (посещение для ученика будет бесплатным)","schema":{"type":"boolean"},"example":true},{"name":"visit","in":"query","description":"Статус посещения (true - ученик посетил занятие, false - пропустил)","schema":{"type":"boolean"},"example":true},{"name":"test","in":"query","description":"Пробная запись на занятие","schema":{"type":"boolean"},"example":true},{"name":"skip","in":"query","description":"Не учитывать запись в количестве занятых мест","schema":{"type":"boolean"},"example":true},{"name":"goodReason","in":"query","description":"Уважительная причина отсутствия (true - есть уважительная причина, false - нет)","schema":{"type":"boolean"},"example":true},{"name":"paid","in":"query","description":"Платное занятие (true - платное, false - нет)","schema":{"type":"boolean"},"example":true},{"name":"includeUserSubscriptions","in":"query","description":"Включить в ответ абонементы ученика (работает при includeBills=true)","schema":{"type":"boolean","default":false,"example":true}},{"name":"includeFamilyRecords","in":"query","description":"Включить записи участников семьи","schema":{"type":"boolean"}},{"name":"includeLessons","in":"query","description":"Включить информацию о занятиях","schema":{"type":"boolean","default":false}},{"$ref":"#/components/parameters/includeBills"},{"$ref":"#/components/parameters/hasBills"},{"$ref":"#/components/parameters/includeWorkOffs"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/offset"}],"responses":{"200":{"description":"Список записей на занятия","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecords"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["lessons"],"summary":"Создание записи на занятие","description":"Создает новую запись на занятие","requestBody":{"description":"Информация о записи","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecord"}}}},"responses":{"200":{"description":"Данные созданной записи на занятие","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecord"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/lessonRecords/{recordId}":{"get":{"tags":["lessons"],"summary":"Информация о записи на занятие","parameters":[{"name":"recordId","in":"path","description":"ID записи на занятие","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeLesson","in":"query","description":"Включить информацию о занятии","schema":{"type":"boolean","default":false}},{"name":"includeUserSubscriptions","in":"query","description":"Включить абонемент ученика","schema":{"type":"boolean","default":false}}],"description":"Возвращает информацию о записи на занятие","responses":{"200":{"description":"Данные записи на занятие","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecordExtended"}}}},"404":{"description":"Запись на занятие не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["lessons"],"summary":"Изменение записи на занятие","description":"Изменяет информацию о записи","parameters":[{"name":"recordId","in":"path","description":"ID записи на занятие","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Обновленная информация о записи на занятие","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecordEdit"}}}},"responses":{"200":{"description":"Обновленные данные записи на занятие","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonRecord"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись на занятие не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["lessons"],"summary":"Удаление записи на занятие","description":"Удаляет запись на занятие","parameters":[{"name":"recordId","in":"path","description":"ID записи на занятие","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Запись на занятие удалена"},"404":{"description":"Запись на занятие не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/joins":{"get":{"tags":["joins"],"summary":"Записи в группу","description":"Возвращает список записей в группы","parameters":[{"$ref":"#/components/parameters/createdAt"},{"$ref":"#/components/parameters/updatedAt"},{"$ref":"#/components/parameters/stateChangedAt"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/classId"},{"$ref":"#/components/parameters/courseId"},{"$ref":"#/components/parameters/joinStatusId"},{"$ref":"#/components/parameters/joinUserId"},{"$ref":"#/components/parameters/managerId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"},{"name":"sort","description":"Сортировка","in":"query","example":"createdAt","schema":{"default":"id","type":"string","enum":["id","createdAt","updatedAt"]}},{"$ref":"#/components/parameters/sortDirection"}],"responses":{"200":{"description":"Список записей в группу","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Joins"}}}}}},"post":{"tags":["joins"],"summary":"Создание записи в группу","description":"Создает новую запись в группу","requestBody":{"description":"Информация о записи в группу","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}}},"responses":{"200":{"description":"Данные созданной записи в группу","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"500":{"description":"Ошибка на стороне сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/joins/{joinId}":{"get":{"tags":["joins"],"summary":"Информация о записи в группу","description":"Возвращает информацию о записи в группу","parameters":[{"name":"joinId","in":"path","description":"ID записи в группу","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные о записи в группу","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["joins"],"summary":"Изменение записи в группу","description":"Изменяет основную информацию по записи в группу","parameters":[{"name":"joinId","in":"path","description":"ID записи в группу","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Обновленная информация по записи в группу","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinEdit"}}}},"responses":{"200":{"description":"Обновленные данные о записи в группу","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["joins"],"summary":"Удаление записи в группу","description":"Удаляет запись в группу из системы.","parameters":[{"name":"joinId","in":"path","description":"ID записи в группу","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Запись удалена"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/joins/{joinId}/status":{"post":{"tags":["joins"],"summary":"Изменение статуса записи в группу","description":"Изменяет статус записи в группу","parameters":[{"name":"joinId","in":"path","description":"ID записи в группу","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новый статус и причина изменения","required":true,"content":{"application/json":{"schema":{"properties":{"statusId":{"description":"Статус записи в группу","type":"integer","format":"int64","example":2},"statusChangeReasonId":{"description":"ID причины смены статуса. Для изменения статуса записи в группу на \"Отказался\" используется набор причин клиента","type":"integer","format":"int32","example":1,"minimum":0,"maximum":2147483647}},"required":["statusId"]}}}},"responses":{"204":{"description":"Статус изменен"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/joins/{joinId}/tags":{"post":{"tags":["joins"],"summary":"Изменение тегов записи в группу","description":"Изменяет теги записи в группу","parameters":[{"name":"joinId","in":"path","description":"ID записи в группу","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новые теги","required":true,"content":{"application/json":{"schema":{"properties":{"tags":{"description":"Id тегов","type":"array","items":{"type":"integer","format":"int64"},"example":[2,4]}},"required":["tags"]}}}},"responses":{"204":{"description":"Теги изменены"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/tasks":{"get":{"tags":["tasks"],"summary":"Задачи","description":"Возвращает список задач","parameters":[{"$ref":"#/components/parameters/createdAt"},{"$ref":"#/components/parameters/filialId"},{"$ref":"#/components/parameters/classId"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/managerId"},{"$ref":"#/components/parameters/taskCompleted"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список задач","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tasks"}}}}}},"post":{"tags":["tasks"],"summary":"Создание задачи","description":"Создает новую задачу","requestBody":{"description":"Информация о задаче","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"responses":{"200":{"description":"Данные созданной задачи","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/tasks/{taskId}":{"get":{"tags":["tasks"],"summary":"Информация о задаче","description":"Возвращает задачу","parameters":[{"name":"taskId","in":"path","description":"ID задачи","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные задачи","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["tasks"],"summary":"Изменение задачи","description":"Изменяет задачу","parameters":[{"name":"taskId","in":"path","description":"ID задачи","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Обновленая задача","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"responses":{"200":{"description":"Обновленные данные задачи","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["tasks"],"summary":"Удаление задачи","description":"Удаляет задачу из системы.","parameters":[{"name":"taskId","in":"path","description":"ID задачи","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Задача удалена"},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/taskCategories":{"get":{"tags":["catalog"],"summary":"Категории задач","description":"Возвращает категории задач","responses":{"200":{"description":"Данные о категориях задач","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCategory"}}}}}}},"/v1/company/joinStatuses":{"get":{"tags":["catalog"],"summary":"Статусы записей","description":"Возвращает список статусов записей","responses":{"200":{"description":"Список статусов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JoinStatus"}}}}}}}},"/v1/company/clientStatuses":{"get":{"tags":["catalog"],"summary":"Статусы клиентов","description":"Возвращает список статусов клиентов","responses":{"200":{"description":"Список статусов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientStatus"}}}}}}}},"/v1/company/joinTags":{"get":{"tags":["catalog"],"summary":"Теги записей","description":"Возвращает список тегов для записей","responses":{"200":{"description":"Список тегов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JoinTag"}}}}}}}},"/v1/company/paymentTypes":{"get":{"tags":["catalog"],"summary":"Типы платежей","description":"Возвращает типы платежей","responses":{"200":{"description":"Список типов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentType"}}}}}}}},"/v1/company/files":{"post":{"tags":["files"],"summary":"Загрузка свободного файла","description":"Загрузка свободного файла","requestBody":{"description":"Данные файла","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCreateCompany"}}}},"responses":{"204":{"description":"Файл добавлен","content":{"application/json":{"schema":{"properties":{"id":{"description":"ID созданного файла","type":"integer","format":"int64"}}}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}},"get":{"tags":["files"],"summary":"Получение списка файлов пользователя","description":"Получение списка файлов пользователя","parameters":[{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"description":"Список файлов","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/File"}}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}}},"/v1/company/files/{fileId}":{"get":{"tags":["files"],"summary":"Получение файла","description":"Получение файла","parameters":[{"name":"fileId","in":"path","description":"ID файла","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Данные файла","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"delete":{"tags":["files"],"summary":"Удаление файла","description":"Удаление файла","parameters":[{"name":"fileId","in":"path","description":"ID файла","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Файл удален"},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Файл не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"post":{"tags":["files"],"summary":"Редактирование файла","description":"Редактирование файла","parameters":[{"name":"fileId","in":"path","description":"ID файла","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Данные файла","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileEditCompany"}}}},"responses":{"204":{"description":"Файл отредактирован"},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/userComments":{"get":{"tags":["userComments"],"summary":"Комментарии","description":"Возвращает список комментариев","parameters":[{"$ref":"#/components/parameters/createdAt"},{"$ref":"#/components/parameters/classId"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/managerId"},{"$ref":"#/components/parameters/lessonId"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"description":"Список комментариев","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserComments"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}},"post":{"tags":["userComments"],"summary":"Создание комментария","description":"Создает новый комментарий","requestBody":{"description":"Комментарий","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserComment"}}}},"responses":{"200":{"description":"Данные созданного комментария","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserComment"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}}}}},"/v1/company/userComments/{commentId}":{"post":{"tags":["userComments"],"summary":"Изменение комментария","description":"Изменяет комментарий","parameters":[{"name":"commentId","in":"path","description":"ID комментария","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Новые данные комментария","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCommentEdit"}}}},"responses":{"200":{"description":"Обновленный комментарий","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserComment"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Комментарий не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}}}},"get":{"tags":["userComments"],"summary":"Информация о комментарии","description":"Возвращает информацию о комментарии","parameters":[{"name":"commentId","in":"path","description":"ID комментария","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Комментарий","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserComment"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"}}}},"402":{"description":"Ограничения лицензии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseRestricts"}}}},"404":{"description":"Комментарий не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorHandling"
[...]
